node_modules
dist
.env
.env.local
.env.*.local
.DS_Store
.idea
.vite
*.log
*.mp4
*.mov
*.mp3
*.wav
*.png
*.jpg
*.jpeg
*.webp
public/assets/*
!public/assets/
!public/assets/README.md
!public/assets/defaults/
public/assets/defaults/*
!public/assets/defaults/README.md
.cache
